@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&family=Updock&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ms+Madi&family=Orelega+One&family=Square+Peg&family=Updock&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Creepster&family=Fjalla+One&family=Josefin+Sans&family=Ms+Madi&family=Orelega+One&family=Square+Peg&family=Updock&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Fjalla+One&family=Josefin+Sans&family=Ms+Madi&family=Orelega+One&family=Square+Peg&family=Updock&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
 /* @media (max-width :1300px){
    .item{
        display: none;
    }
   
    .space{
        height:100px;
    }
    .word-space{
        font-size: 20px;
        font-weight: 600;
        width:100%;
        left:10px;
        letter-spacing: -1px;
    }
    .space-button{
        font-size: 20px;
        font-weight: 500;
        right:0px;
    }
}  */
*{
    font-family: 'Orelega One', 'cursive';
    padding:0px;
    margin:0px;
    text-decoration: none;
    list-style: none;
}
:root {
        --main-color: darkred;
        --hover-color: rgb(250, 8, 8);
        --body-color: #000000;
        --container-color: #2d2e37;
        --text-color: #fcfeff
    }         
    .light-theme {
        --main-color: darkred;
        --hover-color: rgb(250, 8, 8);
        --body-color: #fcfeff;
        --container-color: #d0d1d9;
        --text-color: #000000;
    }
body{
    background-color: var(--body-color);
    color:var(--text-color);
    overflow-x: hidden;
}
::selection{
    color:rgb(44, 169, 207);
}
.navebar{
    position: fixed;
    z-index: 1;
    height:50px;
    width:100%;
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'Berkshire Swash', cursive;
    margin-left:100px;
    display: flex;
    flex:2;
    color: rgb(241, 255, 47);
}
.sidebar{
    position: fixed;
    z-index: 1;
    margin-top: 120px;
}
.side i{
    font-size: 30px;
    color: #b7b7b7;
    margin-left:10px;
} 
.side p{
    font-size: 18px;
    color: #b7b7b7;
    margin-left:5px;
}
.side .w{
    margin-left: -6px;
}
.item{
    margin-bottom:40px;
    margin-left:20px;
}
.home p{
    color: rgba(209, 177, 177, 0.74);
}
.home a{
    font-size: 35px;
}
.item p:hover{
    color: rgba(209, 177, 177, 0.74);
}
.item a:hover{
    font-size: 35px;
} 

.profile{
    display: flex;
    flex:2;
    align-items: center;
    justify-content: flex-end;
}
.profile-name{
    background-color: rgb(241, 255, 47);
    font-size:20px;
    font-weight: 700;
    border-radius:5px;
}
.profile .click{
    color:black;
}
.profile-name:hover{
    background-color: rgb(108, 153, 42);
}
.icon{
    margin: 10px;
    font-size: 20px;
    padding-top: 2px;
}
.moon{
    color:black;
     background-color: rgba(128, 128, 128, 0.596);
    border-radius: 10px;
}
.sun{
    color:gold;
   
}
.icon:hover{
    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 10px;
}
.container{
    z-index: 4;
}
.container .poster-two{
    margin-top: 200px;
    border-radius: 2rem;
}
.word{
    display: flex;
    margin-left:40px;
    margin-bottom: 40px;
    margin-top:50px; 
    font-size:50px;
    font-weight: bold;
    color:var(--text-color);
    border-radius: 2rem;
}
.horror{
    font-family: 'Creepster', 'cursive';
}
.movie-kind{
    display: flex;
    height: 500px;
}
.movie-item{
    position: relative;
    margin:30px;
}
.name-movie{
    font-family: 'Creepster', cursive;
    position: absolute;
    font-size:60px;
    font-weight: bold;
    color:red;
    top:110px;
    left:13px;
    letter-spacing: -4px;
    opacity:0;
}
.movie-item:hover .name-movie{
    opacity: 0.5;
    font-size:70px;
}
.image{
    border: 5px solid black; 
    border-radius: 5rem;
    height:300px;
    width:250px;
}
.movie-item:hover .image{
    transition: all 1s ease-in-out;
    transform: rotateY(150deg);
}
.m{
    font-family: 'Berkshire Swash', cursive;
    position: fixed;
    color:gray;
    background-color: red;
    border-radius: 2rem;
    right:30px;
    bottom: 30px;
    font-size: 60px;
    font-weight: 900px;
}
.space{
    height:200px;
    width:1000px;
    background-color: rgb(187, 39, 39);
    margin: 100px;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}
.word-space{
    font-family: 'Orelega One', cursive;;
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 700;
    left:100px;
    letter-spacing: -3px;
}
.space-button{ 
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    right:50px;
    font-family: 'Creepster', 'cursive';
}
.button{
    display: flex;
    justify-content: center;
   background-color: rgb(241, 255, 47);
    border-radius: 0.5rem; 
    margin:20px; 
    color: black;
}
.space-button a:hover{
    background-color: rgb(17, 63, 25);
}

.footer{
    background-color: rgba(49, 46, 46, 0.171);
}
.footer .google{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.footer .google .box{
    width:200px;
    height:50px;
    margin:30px;
    position: relative;
    border:1px solid white;
    border-radius: 1rem;
}
.footer .google .pic{
    height:35px;
    width:35px;
    position: absolute;
    top:8px;
    left:8px;
}
.footer .google .text{
    position: absolute;
    left:60px;
    color: rgba(255, 255, 255, 0.747);

}
.footer .google .title{
    position: absolute;
    bottom:5px;
    right:15px;
    font-size: 25px;
    color: white;
}
.info{
     margin-bottom: 50px;

}
.content-info{
    width: 500px;
    
}
.contact{
     display: flex;
     justify-content: center;
     margin: 20px;
     font-size: 30px;
     font-weight: 500;
     color:antiquewhite;
     position: relative;
}
.content-info a::after{
    content:"";
    position: absolute;
    height:2px;
    width:100%;
    bottom: 0px;
    background-color: var(--body-color);
}
 .contact:hover{
    background-color: gray; 
    border-radius: 0.5rem;
} 
.footer-icons{
   height:70px;
}
.face,
.twitter,
.youtube,
.insta,
.tiktok{
    font-size: 35px;
    margin:15px;
}
.face,
.twitter,
.tiktok{
    font-size: 40px;
}
.youtube{
    color: red;
}
.insta{
    color: rgb(255, 102, 0);
}
.face{
    color:rgb(19, 57, 182);
    
}
.twitter{
    color:rgb(0, 195, 255);
}
.tiktok{
    color:black;
}
.privacy{
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.content-privacy{
   margin:20px;
   color: azure;
   position: relative;
}
.privacy a::after{
    content:"";
    display: flex;
    justify-content: center;
    position: absolute;
    height:2px;
    width:0;
    right:0px;
    background-color: red;
}
.privacy a:hover::after{
    width:100%;
    transition: all 1s ease-in-out;
}

