body{
    margin: 0px;
    padding: 0px;
    font-family:poppins;
    color: white;
    background: black ;
    background-size: contain;
    }
.contact{
    font-size: large;
    font-weight: bolder;

}
.formhead{
    color: #eaebea;
    text-align: center;
}
.inform{
    color: #eaebea;
    text-align: center;
}
.text{
    color: #eaebea;
}
.inner::placeholder{
    color: grey;
    font-size: 15px;
}
button{
    background-color: #eaebea;
    color: red;
    border: solid 10px #eaebea ;
}
form.label{
    padding-left: 10px;
}
input,textarea{
    color:grey;
    font-size: 15px;
    background-color: white;

}
.check{
    background-color: white;
    color: red;
    border: solid 10px white ;
}
.container{
    margin-left: 27%;
    margin-top: 10%;
    border: 15px darkred solid;
    height: 50%;
    width: 40%;
}
.forms{
    margin-left: 19%;
    margin-bottom: 15%;
    padding: 5%;
    border: 10px solid darkred;
    text-align: center;
    height: 50%;
    width: 50%;
}
a{
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
.nav_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.logo {
    font-size: 1.4rem;
    color: gold;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 700px 0 0;
    font-family: 'Berkshire Swash', cursive;
}
.logo span {
    color: darkred;
}
.search-box {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
.search-box .bx {
    font-size: 1.1rem;
}
.search-box .bx:hover {
    color: var(--main-color);
}
#search-input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}
.user {
    display: flex;
}
#user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
    font-size: 1.6rem;
}
#user-icon:hover {
    transition: 0.3s all linear;
    transform: scale(1.1);
    color: var(--main-color);
}
.light-theme {
    --main-color: darkred;
    --hover-color: rgb(250, 8, 8);
    --body-color: #fcfeff;
    --container-color: #d0d1d9;
    --text-color: #000000;
}
#icon {
    width: 30px;
    cursor: pointer;
    padding: 1.1rem;
}
.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
.nav-link:hover,
.nav-active {
    color: var(--text-color);
    transition: 0.3s all linear;
    transform: scale(1.1);
}
.nav-link .bx {
    font-size: 1.6rem;
}
.nav-link-title {
    font-size: 0.7rem;
}
footer{
    margin: 20px;
    margin-left: 359px;
    width: 50%;
}
.footer {
    text-align: center;
}
.social-media {
    text-align: center;
    padding: 0;
    margin: 20px;
    transform: translateY(-50%);
}
.social-media-logo {
    color: #b7b7b7;
    font-size: 1.6rem;
}
.social-media-logo:hover {
    color: var(--text-color);;
}
.footer-content {
    text-align: center;
    padding: 0;
    margin: 20px;
}
.footer-link {
    align-items: center;
    color: #b7b7b7;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: list-item;
    list-style: none;
    line-height: 2rem;
    flex-direction: column;
    row-gap: 2.1rem;
}
.footer-link:hover {
    color: var(--text-color);
}
.line {
    text-align: center;
    width: 15rem;
}
.footer-container {
    text-align: center;
    padding: 0;
    margin: 20px;
}
.footer-link2 {
    align-items: center;
    color: #b7b7b7;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    gap: 2.1rem;
}
.footer-link2:hover {
    color: var(--text-color);
}
.copyright {
    text-align: center;
    padding: 0;
    margin: 20px;
}
