*{
    background-color: black;
}
body{
margin: 0px;
padding: 0px;
font-family:poppins;
background-color: black;
color: darkred;
background: black ;
}
header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--body-color);
        z-index: 100;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
 .logo {
      color: gold;
      font-size: 50px;
      font-family: 'Berkshire Swash', cursive;
      text-align: left;
      padding-right: 45%;
    }
    a{
        font-family: 'Berkshire Swash', cursive;
    }
    .search-box {
        max-width: 240px;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 0.7rem;
        padding: 8px 15px;
        background: var(--container-color);
        border-radius: 4rem;
        margin-right: 1rem;
    }
    .search-box .bx {
        font-size: 1.1rem;
    }
    .search-box .bx:hover {
        color: var(--main-color);
    }
    #search-input {
        width: 100%;
        border: none;
        outline: none;
        color: var(--text-color);
        background: transparent;
        font-size: 0.938rem;
    }
    .user {
        display: flex;
    }
    #user-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #b7b7b7;
        font-size: 1.6rem;
    }
    #user-icon:hover {
        transition: 0.3s all linear;
        transform: scale(1.1);
        color: var(--main-color);
    }
    .light-theme {
        --main-color: darkred;
        --hover-color: rgb(250, 8, 8);
        --body-color: #fcfeff;
        --container-color: #d0d1d9;
        --text-color: #000000;
    }
    #icon {
        width: 30px;
        cursor: pointer;
        padding: 1.1rem;
    }
    .navbar {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        display: flex;
        flex-direction: column;
        row-gap: 2.1rem;
    }
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #b7b7b7;
    }
    .nav-link:hover,
    .nav-active {
        color: var(--text-color);
        transition: 0.3s all linear;
        transform: scale(1.1);
    }
   .nav-link .bx {
        font-size: 1.6rem;
    }
    .nav-link-title {
        font-size: 0.7rem;
    }
 
.movietab{
    margin-top: 85px;
    margin-left: 100px;
}
.movietab a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #000;
    margin-right: 10px;
    border-right: 0.5px solid gray;
}

video{
    margin-left: 13%;
    margin-top: 50px;
    padding-top: 50;
}

.movieInformationCont{
    display: flex;
    margin-top: 85px;
    margin-left: 200px;
    margin-right: 150px;
    padding-left:200px;
    background-color: white;
}
.movieposter{
    margin: 30px 35px 30px 30px;
}

.movieposter img{
    width: 150px;
}
.movieDicription{
    margin-top: 30px;
}
.movieDicription h4{
    color: #0397d6;
    font-weight: 600;
}
.movieDicription p{
    width: 600px;
    opacity: 75%;
    color: #000;
    font-style: italic;
    font-size: 12px;
    background-color: white;
}

.movieDetails h4{
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
    font-weight: lighter;
}
.movieDetails {
    margin-top: 45px;
}
.movieDetails a{
    font-size: 14px;
    text-transform: capitalize;
text-decoration: none;
margin-left: 5px;
 
}
.movieDiscCont{
    display: flex;
}

.movieDuration{
    margin-left: 100px;
   margin-top: 45px;
   
}
.movieDuration h4{
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
    font-weight: lighter;
}
.hd{
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.imdb{
    font-size: 18px;
    font-weight: bold;
    background: rgb(156, 156, 4);
    padding: 5px;
    color: #000;
    border-radius: 5px;
}
.pp{
background-color: black;
}
head{
 background-color: black;
}
::-webkit-scrollbar{
width: 10px;
box-sizing: border-box;
}

::-webkit-slider-track{
 background:none;
}
::-webkit-slider-thumb{
background: #555;
border-radius: 6px;
transition: background .2 left;
transition-property: background-color;
transition-duration: 0.25;
transition-timing-function: linear;
transition-delay: 0s;
}
.moviecontainer{
margin: 100px 50px 0 100px;
}
.movieitem img{
 width: 130px;
 height: 180px;
 border-radius: 10px 10px 0 0
}
.ch{
font-size:45px;
position: relative;
font-family: oswald;
font-weight:500px;
color:darkred;
top:5;
margin-top:0;

}
.movielist{
display: flex;
flex-wrap: wrap;
justify-content:right;
background-color: black;
}
.movieitem {
background: black;
text-align: center;
border: 0px 0.5px 0.5px 0px;
margin: 15px 10px 15px 10px;
border-radius: 10px;
text-transform: capitalize;
background-color: white;
transition: all 1s ease-in-out;
height:250px;
}
.suggetioncontainer {
margin: 30px 50px 0 100px;
}
.suggest {
font-size: 18;
font-weight: 400;
padding: 0 20px;
height: 40px;
line-height: 40px;
background: #0397d6;
color: darkred;
text-transform: capitalize;
}
.fa-greater-than{
font-size: 12px;
margin-left: 5px;
}
.featured{
height: 0px;
line-height: 0px;
text-align: right;
color: darkred;
cursor: default;
background: black;
margin:0px;
min-width: 0px;
padding: 0 0px;
}
.sugetionlist{
text-transform: capitalize;
text-decoration: none !important;
line-height: 1.4;
position:relative;
padding:10px 15px;
color: darkred;
outline: none;
background: transparent;
margin-right: 2px;
background-color: black;
}
.sugetionlist a:hover{
  background: wheat;
}
.active{
background-color: black;
}
.d-blockw-100{
background-color: black;
}
.carousel-control-prev{
background-color: black;
color: darkred;
}
.visually-hidden{
background-color: black;
color: darkred;
}
.carousel-control-next{
background-color: black;
color: darkred;
}
.hh{
  background: black;
  background-color: black;
  color:darkred;
  padding: 3rem 0 2rem;
}
.mm{
  color:darkred;
  margin-left: 100px;
}
@media screen and (min-width:400px) and (max-width: 780px) {.suggest{
  font-size: 15px;
  font-weight: 400px;
  padding: 0 10px;
}}
footer{
   margin: 20px;
   margin-left: 359px;
   width: 50%;
    }
    .footer {
     text-align: center;
    }
    .social-media {
     text-align: center;
    padding: 0;
    margin: 20px;
   transform: translateY(-50%);
    }
    .social-media-logo {
        color: #b7b7b7;
        font-size: 1.6rem;
    }
    .social-media-logo:hover {
        color: var(--text-color);;
    }
    .footer-content {
        text-align: center;
        padding: 0;
        margin: 20px;
    }
    .footer-link {
        align-items: center;
        color: #b7b7b7;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        display: list-item;
        list-style: none;
        line-height: 2rem;
        flex-direction: column;
        row-gap: 2.1rem;
    }
    .footer-link:hover {
        color: var(--text-color);
    }
    .line {
        text-align: center;
        width: 15rem;
    }
    .footer-container {
        text-align: center;
        padding: 0;
        margin: 20px;
    }
    .footer-link2 {
        align-items: center;
        color: #b7b7b7;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        gap: 2.1rem;
    }
    .footer-link2:hover {
        color: var(--text-color);
    }
    .copyright {
        text-align: center;
        padding: 0;
        margin: 20px;
    }
.home{
position:relative;
min-height:470px;
display:flex;
align-items:center;
margin-top: 5 contain;
border-radius:cover;
}
.homeimg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit:cover;
  border-radius: 0.5rem;
}
a:link
{
text-decoration: none;
}
a:visited
{
text-decoration: none;
}
a:active
{
text-decoration: none;
}
a:hover
{
text-decoration: none;
}
a.forumlink:hover
{
text-decoration:none;
}

.information{
  color: white;
}
